entrypoint = "main.dart"
modules = ["dart-3.3", "nodejs-20"]

[nix]
channel="stable-24_05"

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Web Server"

[[workflows.workflow]]
name = "Expo Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run web"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 46003
externalPort = 3001
